.libs/
build/
modules/
autom4te.cache/
*.lo
*.la
.deps
acinclude.m4
aclocal.m4
config.*
configure*
Makefile*
run-tests.php
*.DS_Store

install-sh
libtool
missing
mkinstalldirs

ext/rocksdb/ltmain.sh
composer.lock
vendor/
tests/unit/testdata/
